<html>
  <head>
    <title>Papicoin</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><h1>Papicoin</h1></a>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/add">Add</a>
          </li>
        </ul>
      </nav>
      <h1>{{.PageTitle}}</h1>
    </header>
    {{range .Blocks}}
    <section>
      <ul>
        <li>{{.Data}}</li>
        <li>{{.Hash}}</li>
        {{if .PrevHash}}
          <li>{{.PrevHash}}</li>
        {{end}}
      </ul>
    </section>
    {{end}}
  </body>
</html>
